name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # ---- LOGIN DOCKER HUB ----
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # ---- BUILD DOCKER IMAGE ----
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/miapp:latest

      # ---- SSH DEPLOY ----
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
          script: |
            echo "Conectado al servidor"

            # Detener contenedor previo (si existe)
            docker stop miapp || true
            docker rm miapp || true

            # Descargar nueva imagen
            docker pull ${{ secrets.DOCKER_USERNAME }}/miapp:latest

            # Levantar contenedor
            docker run -d --name miapp -p 80:80 ${{ secrets.DOCKER_USERNAME }}/miapp:latest
