name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Descargar repositorio
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Login a Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3. Construir y subir imagen a Docker Hub
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/miapp:latest

      # 4. Conectarse al servidor por SSH y desplegar
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}   # <----- PUERTO CORREGIDO
          script: |
            echo "Conectado al servidor"

            docker stop miapp || true
            docker rm miapp || true

            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/miapp:latest

            docker run -d --name miapp -p 80:80 ${{ secrets.DOCKERHUB_USERNAME }}/miapp:latest
