name: CI/CD Traefik Flask

on:
  push:
    branches: ["master"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construir imagen Docker
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/flask-traefik:latest .

      - name: Subir imagen al registry
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/flask-traefik:latest

      - name: Deploy al servidor
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASS }}
          # Si usas llave SSH en lugar de contraseña, reemplaza por: key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /deploy/proyecto
            docker compose pull
            docker compose up -d
